.mainPage{
    background-color: black;
    color: white;
    margin-top: 10%;
}
.whiteBackgoundPage{
    background-color: white;
    color: black;
    margin-top: 5%;
}

header div{
    text-align: center;
    background-color: rgb(224, 3, 3);
    width: 150px;
    height: 50px;
    margin: auto;
    align-items: center;
    font-size: 1.9em;
    font-weight: bold;
}

header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-style: italic;
    display: flex;
    justify-content: center;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin-bottom: -20px;
    
}

#currentDate{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 0.8em;
    padding-top: 10px;
}

.shopOptions{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}
.shopOptions a{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    font-size: 0.9em;
}

.shopOptions a:hover{
    background-color: rgb(224, 3, 3);
}

.socialMedia a{
    text-decoration: none;
    color: grey;
}
.socialMedia i {
    display: inline-block;  
    margin: 0 10px;         
    font-size: 2em;          
}

.socialMedia{
    text-align: center;
    font-size: 0.6em;
}

.socialMedia a:hover{
    color: rgba(128, 128, 128, 0.769);
}

.supremeNews{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 420px;
    max-height: 220px;
    justify-content: center;
}

.supremeNews img{
    flex-shrink: 0;
    max-width: 200px;
    height: auto;
}

.supremeNews p{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 0.7em;
    
}
.newsText{
    overflow: auto;
}
.newsText #date{
    font-size: 0.8em;
    margin-bottom: 0px;
}
.newsText #title{
    margin-top: 0px;
    font-size: 1.2em;
}
footer{
    position: absolute;
    display: flex;
    bottom: 0;
    left: 0;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.75em;
    margin-left: 30%;
    margin-right: 30%;
}
footer a:hover{
    background-color: rgb(224, 3, 3);
    color: white;
}

footer #inline{
    display: inline-block;
}
.footerDivRight{
    padding-left: 350px;
}
.footerOptions{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 10px;
    padding-top: 35px;
}
.imageGallery{
    margin-left: auto;
    margin-right: auto;
    max-width: 820px;
    grid-template-columns: repeat(4, 1fr);
}

.imageGallery a{
    display: inline-block;
    justify-content: center;
    flex-wrap: wrap;
    grid: 20px;
}

.imageGallery a img{
    width: 113px;
    height: 78px;
}

.contactTitle{
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    justify-content: left;
    text-align: left;
}
form{
    padding-top: 10px;
    padding-left: 30%;
    align-items: flex-start;
}

form input{
    border: 1px solid black;
    margin-right: 10px;
}
.basicData input{
    justify-content: space-evenly;
    width: 350px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    color: black;
    
}
.basicData{
    padding-bottom: 15px;
}


.selectMenu{
    border: 1px solid black;
    width: 715px;
    height: 40px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    margin-bottom: 10px;
}
.textArea{
    border: 1px solid black;
    width: 715px;
    height: 150px;
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
    padding-left: 6px;
    resize: none;
}

.submitButton{
    width: 50px;
    text-align: center;
    color: white;
    background-color: rgb(224, 3, 3);
    font-family: 'Courier New', Courier, monospace;
    font-size: 0.8em;
}
}