.mainPage{
    background-color: black;
    color: white;
    margin-top: 10%;
}
.whiteBackgoundPage{
    background-color: white;
    color: black;
    margin-top: 10%;
}

header div{
    text-align: center;
    background-color: rgb(224, 3, 3);
    width: 150px;
    height: 50px;
    margin: auto;
    align-items: center;
}

header a{
    text-decoration: none;
    color: rgb(255, 255, 255);
    font-style: italic;
    display: flex;
    justify-content: center;
    padding: 0px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    
}

#currentDate{
    text-align: center;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 0.8em;
    padding-top: 10px;
}

.shopOptions{
    text-align: left;
    margin-left: auto;
    margin-right: auto;
    width: 230px;
}
.shopOptions a{
    text-decoration: none;
    color: white;
    font-family: 'Courier New', Courier, monospace;
    line-height: 30px;
    font-size: 0.9em;
}

.shopOptions a:hover{
    background-color: rgb(224, 3, 3);
}

.socialMedia a{
    text-decoration: none;
    color: grey;
}
.socialMedia i {
    display: inline-block;  
    margin: 0 10px;         
    font-size: 2em;          
}

.socialMedia{
    text-align: center;
    font-size: 0.6em;
}

.socialMedia a:hover{
    color: rgba(128, 128, 128, 0.769);
}

.supremeNews{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    max-width: 420px;
    max-height: 220px;
    justify-content: center;
}

.supremeNews img{
    flex-shrink: 0;
    max-width: 200px;
    height: auto;
}

.supremeNews p{
    margin-left: 20px;
    margin-right: 20px;
    font-family: 'Courier New', Courier, monospace;
    font-weight: bold;
    font-size: 0.7em;
    
}
.newsText{
    overflow: auto;
}
.newsText #date{
    font-size: 0.8em;
    margin-bottom: 0px;
}
.newsText #title{
    margin-top: 0px;
    font-size: 1.2em;
}
footer{
    position: fixed;
    bottom: 0;
    left: 0;
    height: 200px;
    width: 40%;
    margin-left: 30%;
    margin-right: 30%;
    font-family: 'Courier New', Courier, monospace;
}
footer a{
    text-decoration: none;
    color: black;
}
footer ul{
    list-style-type: none;
}
footer a:hover{
    color: white;
    background-color: rgb(224, 3, 3);
}
.footerDivOptions{
    max-height: 100px;
    max-width: 500px;
    flex-wrap: wrap;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}
.footerDivOptions a{
    display: inline-block;
    overflow: auto;
}
.footerDivRight{
    display: flex;
    margin-top: -150px;
    justify-content: flex-end;
}

.footerDivRight li{
    display: inline-block;
    grid: 20px;
}

.imageGallery{
    max-width: 60%;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    place-items: center;
}
.imageGallery a{
    max-height: 150px;
    max-height: 100px;
}

.imageGallery a img{
    width: 300px;
    height: 140px;
}
